.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    background-color:
        #112b49;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 0;
    padding: 2rem;
}
.footer-header {
    font-weight: 700;
}
/* --------------------------------------------
        Responsive for mobile device
-------------------------------------------- */
@media (min-width: 320px) and (max-width: 480px) {
    .footer-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .details {
        text-align: center;
    }
    .footer-header {
        font-size: xx-large;
        text-align: center;
    }

    .details p {
        font-size: large;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .details {
        text-align: center;
    }

    .footer-header {
        font-size: xx-large;
        text-align: center;
    }

    .details p {
        font-size: large;
    }
}