.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    background-color: 
    #112b49;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 0;
}
.about-title{
    display: flex;
}
/* --------------------------------------------
        Responsive for mobile device
-------------------------------------------- */
@media only screen and (max-width: 600px) {
    .about-title img{
      height: 2rem;
      width: 2rem;
    }
    .about-title h3{
        font-size: xx-small;

    }
    .about-title p{
        font-size: xx-small;
    }
    .about p{
        font-size: xx-small;
    }
    .footer-header{
        font-size: small;
    }
    .details p{
        font-size: xx-small;
    }
  }