.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    background-color: 
    #112b49;
    padding: 0.5rem;
    
}
.about-title{
    display: flex;
}

/* --------------------------------------------
        Responsive for mobile device
-------------------------------------------- */
@media only screen and (max-width: 600px) {
    .about-title img{
      height: 2rem;
      width: 2rem;
    }
    .about-title h3{
        font-size: xx-small;

    }
    .about-title p{
        font-size: xx-small;
    }
    .about p{
        font-size: xx-small;
    }
    .footer-header{
        font-size: small;
    }
    .details p{
        font-size: xx-small;
    }
  }