.delivered {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.quantityAdded {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.services-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}
.update-btn{
    background-color: #CAD5E2;
    color: black;
    padding: 10px 19px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    .services-details {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .services-details {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}