.serviceAdd-input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
}
.delivered{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

@media (min-width: 320px) and (max-width: 480px) {
    .serviceAdd-input {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .serviceAdd-input {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }
}